h1 {
  font-size: 6rem;
  font-weight: 600;
  color: antiquewhite;
  text-shadow: 2px 2px 5px blue;
  
}

p {
  font-size: 2rem;
}

.promoContainer {
  background-color:  rgb(54, 53, 53);
  border-radius: 15px;
  color:antiquewhite;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  text-shadow: 2px 2px 5px blue;
  width: 60vw;
}
