* {
    font-family: Poppins;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

select {
    font-weight: 800;
}

option {
    font-weight: 800;
}

.productLayout {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    
}

.selectorForm {

  margin-top: 30px; 
  margin-bottom: 30px; 
  box-shadow: 0 0 20px black;
  background-color:  rgb(54, 53, 53);
  font-weight: 400;
}

.selectorLabel {
    background: none;
    font-size: 1.2rem;
    margin-right: 30px;
}

.selectorInput {
    color: black;
    background: orange;
    padding: 2px 15px 2px 15px;
    margin-left: 10px;
    border-radius: 5px;
}
