* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.image {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.g9H2HP8Hac9DM4CorgmzyQHaHa%26pid%3DApi&f=1&ipt=b264c40d87184cc2a20606e994292bd4d1824a058f7914461172a02c908894f8&ipo=images');
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 8rem;
}

nav h1 {
    font-size: 2.25rem;
    color: orange;
    text-shadow:0px 0px 30px black;
    
}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    padding-top: 1rem;
    padding-bottom:.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.link{
    font-size: 1.5rem;
    color: white;
    text-shadow:0px 0px 10px black;
}