* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
    font-weight: 500;
}



.container {
    width: 300px;
    height: 600px;
    display: grid;
    grid-template-columns: minmax(0, 150px);
    grid-template-rows: minmax(0, 30px);
    grid-template-areas:
          'image image'
          'image image'
          'image image'
          'image image'
          'rating rating'
          'title title'
          'title title'
          'sku stock'
          'price price'
          'button button';
          
                      
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    background-color:  rgb(54, 53, 53);
    margin: 15px;
    
}

img {
    border-radius: 5px;
    width: 275px;
    max-height: 200px;
    object-fit:contain;
}

.image {
    background-color: white;
    grid-area: image;
    height: 220px;
    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 10px;
}


.ratingContainer {
    grid-area: rating;
}

.starsOuter {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.starsOuter::before {
    content: "\f006 \f006 \f006 \f006 \f006";
    color: black;
} 

.starsInner {
    position: absolute;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    white-space: nowrap;
    overflow: hidden;
    width: 0%;
}

.starsInner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}

.title {
    color: antiquewhite;
    grid-area: title;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: .5rem;
    margin-right: .5rem;
    padding-top:5px;
}

.sku {
    color: antiquewhite;
    grid-area: sku;
    font-size: 1rem;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
}

.stock {
    color: antiquewhite;
    grid-area: stock;
    font-size: 1rem;
    text-align: right;
    padding-right: 15px;
    padding-top: 10px;

}

.price {
    grid-area: price;
    color: orange;
    font-size: 1.5rem;
}

.btn {
    font-size: 1.5rem;
    font-weight: 600;
    grid-area: button;
    max-width: 290px;
    grid-area: button;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container:hover{
    box-shadow: 0px 0px 20px white;
}


 a:link {
    color: none;
    text-decoration: none;
}