*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.productLayout {
    max-width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

